body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 16px; 
  text-align: center;
  padding: 24px 0;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  grid-column: 1 / 6;
  grid-row: 1 / 1;
  background-color: #006157;
}

.sidebar {
  grid-column: 1 / 3;
  grid-row: 2 / 7;
  background-color: #005B94;
}

.nav {
  grid-column: 3 / 6;
  background-color: #642cde;
}

.article {
  grid-column: 3 / 6;
  grid-row: 3 / 7;
  background-color: #7E1DC3;
}

.footer {
  grid-column: 1 / 6;
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}